src/pubspec.lock
src/ios
src/android
src/build
src/.dart_tool/
src/.flutter-plugins-dependencies
src/.packages
.dart_tool
pubspec.lock
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/settings_aar.gradle
!src/build/app/outputs
